﻿@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>pnv</title>
        <link href="images/favicon.ico" rel="images/favicon.png" type="image/x-icon" />
		<style>
			body {
				background: url("images/bg1.png") repeat;
			}
		</style>
    </head>
    <body>
        
    </body>
</html>
